<nav class="navbar">
    <div class="logo">LOGO</div>

    <div class="nav-items">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div id="dashboardBtn" class="dBtn">
        <a (click)="onDashboard()">Dashboard </a>
    </div>

    <div class="auth">
        <ul>
            <li><button class="auth-btn" (click)="onLogin()">Login</button></li>
            <li><button class="auth-btn" (click)="onDashboard()">Register</button></li>

        </ul>
    </div>
</nav>