.form-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    .form-heading{
        margin-top: 8px;
        height: 50px;
        h3{
            font-size: 23px;
        }
    }

    .profile-body{
        width: 70%;
        height: 450px;
        background-color: white;
        box-shadow: 5px 5px 5px #939393;
        border-radius: 10px;

        display: flex;
        flex-direction: column;

        align-items: center;
     
        .user-credientials{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            margin: 20px;


            width: 500px;
            height: 80px;
            box-shadow: 5px 5px 5px #939393;
            background-color: #F0F2E4;
            border-radius: 5px;

            label{
                font-size: 25px;
            }
            input{
                border: none;
                padding: 5px;

                height: 35px;
                border-radius: 10px;
                width: 250px;
                border: 1px so1 black;
                font-size: 20px;
                text-align: center;
            }
        }
      
    }
}