.main-container{
    display: flex;

    .side-nav{
        width: 320px;
        min-height: 92vh;
        height: fit-content;
        display: flex;
    }

    .main{
        width: 95%;
        height: 80vh;
    }
}